name: Deploy Backend to EC2

on:
  push:
    paths:
      - "server/**"
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      EC2_SSH_KEY: ${{ secrets.EC2_SSH_KEY }}

    steps:
      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "$EC2_SSH_KEY" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519

      - name: Add EC2 to known_hosts
        run: |
          ssh-keyscan -H "3.91.253.53" >> ~/.ssh/known_hosts

      - name: Run deploy script on EC2
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@3.91.253.53 "~/deploy-backend.sh"
